{:source-paths ["src/cljs"]
 :dependencies [[re-frame "0.12.0"]
                [cider/cider-nrepl "0.21.0"]
                [nilenso/wscljs "0.2.0"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [org.clojars.frozenlock/reagent-modals "0.2.8"]]
 :builds {:main {:target :browser
                 :output-dir "resources/public/js"
                 :modules {:main {:init-fn home.core/init}}
                 :devtools {:after-load home.core/reload}}}}
